button {
  cursor: pointer;
}
.visitar {
  color: var(--rtc-text-2);
  padding-left: 1%;
  padding-right: 1%;
  border-radius: var(--rtc-border-radius-m);
  margin: 6%;
  padding: 2%;
}
.visitar:hover {
  box-shadow: 0 0 50px var(--rtc-bgColor2);
  transition: 1s;
  transform: rotateY(360deg);
}
